*{
    margin: 0px;
    padding: 0px;
}

ul{
    list-style-type: none;
}

img{
    max-width: 100%;
    display: block;
}

img[src$=".jpg"]{
    border-radius: 4px;
}

a{
    text-decoration: none;
    color: inherit;
}

a:focus{
    outline: 2px solid var(--cor-p1);
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 600px;
}
