main .termos{
    padding: 80px 0px;
}

main .termos h2{
    margin-bottom: 20px;
    font-weight: 600;
}

.termos h2:not(:first-child){
    margin-top: 40px;
}

.termos p{
    max-width: 75ch;
    margin-bottom: 24px;
}
